<% if logged_in? %>
<div class="row">
  <div class="col-md-offset-1 col-md-6">
    <h3>Post Feed</h3>
    <%= render 'shared/feed' %>
  </div>
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <section>
      <%= link_to '投稿する', new_post_path, class: 'btn btn-primary btn-lg btn-block' %>
    </section>
  </aside>
</div>

<% else %>
<% provide(:button_text, '登録する') %>
<div class="row">
  <div class="col-sm-4 col-sm-offset-2 hidden-xs">
    <%= image_tag 'image_iPhoneX.png', alt: 'app_image', class: 'app-image' %>
  </div>
  <div class="col-sm-5">
    <div class="container-signin">
      <h2>instagram clone</h2>
      <%= render 'shared/user_form' %>
    </div>
    <div class="container-login">
      <span>アカウントをお持ちですか？</span>
      <%= link_to "ログイン", login_path %>
    </div>
  </div>
</div>

<% end %>
