<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <% if @user.avatar.present? %>
        <%= image_tag @user.avatar.thumb.url, alt: @user.name, class: "avatar" %>
      <% else %>
        <%= image_tag 'avatar_thumb.png', alt: @user.name, class: "avatar" %>
      <% end %>
      <h1><%= @user.name %></h1>
      <span><%= link_to "プロフィールを表示", @user %></span>
      <span><%= pluralize(current_user.posts.count, "post") %></span>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %>(<%= @users.count %>)</h3>
    <% if @users.any? %>
      <ul class="users follow">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>
