<li id="post-<%= post.id %>">
  <%= image_tag 'avatar_thumb.png', alt: post.user.name, class: "avatar" %>
  <span class="user"><%= link_to post.user.name, post.user %></span>
  <span class="content">
    <%= post.content %>
    <%= image_tag post.photo.url if post.photo? %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
    <% if current_user?(post.user) %>
      <%= link_to "delete", post, method: :delete,
                    data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>
