<li id="post-<%= post.id %>">
  <div class="post-header">
    <%= image_tag 'avatar_thumb.png', alt: post.user.name, class: "avatar" %>
    <span class="user"><%= link_to post.user.name, post.user %></span><br>
    <span class="user"><%= link_to post.user.name, post.user %></span>
  </div>
  <div class="content-photo">
    <%= image_tag post.photo.url if post.photo? %>
  </div>
  <div class="content-text">
    <%= post.content %>
  </div>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
    <% if current_user?(post.user) %>
      <%= link_to "編集", edit_post_path(post) %> |
      <%= link_to "削除", post, method: :delete,
                    data: { confirm: "削除してよろしいですか？" } %>
    <% end %>
  </span>
</li>
